html, body {
    margin: 0;
}

body {
    font-family: 'Architects Daughter', sans-serif;
    background: rgb(22, 187, 44) url("nur-afni-setiyaningrum-50103-unsplash.jpg");
    font-size:10px;
}

.wrapper {
    min-height:56em;
    padding: 2em;
    color: rgb(200, 200, 200);
 /*   background: rgb(30, 30, 30); */
    background: rgba(30, 30, 30, .7);
}

h1 {
    font-size: 5.5em;
}

h2 {
    font-size: 10em;
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(180, 180, 180);
}


footer {
    margin: auto auto 0 0;
    padding-bottom:1em;
    font-size:1.8em;
}


@media screen and (max-width:800px) {
    .wrapper{min-height:61em;}

    h1 {font-size: 3em;}
    
    h2 {font-size: 6em;} 

    footer {font-size:1.2em;}
    footer p {width:36em;}
}

@media screen and (max-width:650px) {
   .wrapper{min-height:61em;}
   
    h1 {font-size: 2.5em;}
    
    h2 {font-size: 4em;} 

    footer {font-size:1.2em;}
    footer p {width:36em;}
}
